[submodule "templogger/libby"]
	path = templogger/libby
	url = git://github.com/christof1977/libby.git
[submodule "zentrale/libby"]
	path = zentrale/libby
	url = git://github.com/christof1977/libby
[submodule "zentrale/ivPID"]
	path = zentrale/ivPID
	url = git@github.com:ivmech/ivPID.git
