<!doctype html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

  <style>
    h3,
    h4 {
      text-align: center;
    }
    
    span {
      font-weight: bold;
    }
    
    div.ui-grid-a .ui-block-a {
      margin: auto;
      border: 0px solid green;
    }
    
    div.ui-grid-a .ui-block-b {
      margin: auto;
      border: 0px solid red;
      vertical-align: middle;
    }
  </style>




  <script type=text/javascript>
    function equalHeight(group) {
      tallest = 0;
      group.each(function() {
        thisHeight = $(this).height();
        if (thisHeight > tallest) {
          tallest = thisHeight;
        }
      });
      group.height(tallest);
    }
    $(document).ready(function() {
      equalHeight($(".column"));
    });
    //If one of the buttons is pressed, do the following action
    $(
      function() {
        $('#leah_sw').change(function() {
          $.getJSON('/_operate', {
            room: "Leah",
            state: $('#leah_sw').val()
          });
        });
      }
    );
    $(
      function() {
        $('#felix_sw').change(function() {
          $.getJSON('/_operate', {
            room: "Felix",
            state: $('#felix_sw').val()
          });
        });
      }
    );
    $(
      function() {
        $('#bad_sw').change(function() {
          $.getJSON('/_operate', {
            room: "BadDG",
            state: $('#bad_sw').val()
          });
        });
      }
    );
    $(function() {
      $('#reltimer').click(function() {
        $.getJSON('/_reloadtimer');
      });
    });


    $(
      // periodically (1000ms) do an ajax request to get the button state
      // modify the span tag to reflect the state (pressed or not)
      // the state text comes from the JSON string returned by the server
      function getstate() {
        $.getJSON('/_state', function(data) {
          data_spl = (data.heizungState).split(";");
          temp = data.raumTemp.split(";");
          for (var i = 0; i < data_spl.length; i++) {
            tmp = data_spl[i].split(":");
            if (i == 0) {
              $("#leah_sw").val(tmp[1]).slider('refresh');
            }
            if (i == 1) {
              $("#felix_sw").val(tmp[1]).slider('refresh');
            }
            if (i == 2) {
              $("#bad_sw").val(tmp[1]).slider('refresh');
            }
            if (i == 3) {
              $("#pumpe_sw").val(tmp[1]).slider('refresh');
            }
          }
          $("#heizungState").text(data.heizungState);
          //$("#felix_sw").val(data_spl[3]).slider('refresh');
          //$("#bad_sw").val(data_spl[5]).slider('refresh');
          $("#gettime").text(data.rettime);
          $("#LeahTemp").text(temp[0]);
          $("#FelixTemp").text(temp[1]);
          $("#BadDGTemp").text(temp[2]);
          $("#BalkonDGTemp").text(temp[3]);
          setTimeout(function() {
            getstate();
          }, 1000);
        });
      }
    );
  </script>
  <!-- Simple JQuery Mobile page that display the button state on the breadoard -->
  <!-- You can also change the LED state with the slider switch -->
  <!-- The Raspberry Pi uptime is displayed in the footer (Jinja2 expands the template tag) -->


</head>




<div data-role="page" data-theme="b">
  <div data-role="header">
    <div>
      <h3>Heizung DG</h3></div>
  </div>

  <div data-role="content">
    <form>
      <div class="ui-grid-a">
        <div align="right" class="ui-block-a">
          <select name="leah_sw" id="leah_sw" data-role="slider" data-theme="a">
            <option value="off">Leah</option>
            <option value="on">Leah</option>
          </select>
        </div>
        <div class="ui-block-b"><span id="LeahTemp"></span> °C</div>
        <div align="right" class="ui-block-a">
          <select name="felix_sw" id="felix_sw" data-role="slider" data-theme="a">
            <option value="off">Felix</option>
            <option value="on">Felix</option>
          </select>
        </div>
        <div class="ui-block-b"><span id="FelixTemp"></span> °C</div>
        <div align="right" class="ui-block-a">
          <select name="bad_sw" id="bad_sw" data-role="slider" data-theme="a">
            <option value="off">Bad</option>
            <option value="on">Bad</option>
          </select>
        </div>
        <div class="ui-block-b"><span id="BadDGTemp"></span> °C</div>
        <div align="right" class="ui-block-a">
          <select disabled name="pumpe_sw" id="pumpe_sw" data-role="slider" data-theme="a">
            <option value="off"></option>
            <option value="on"></option>
          </select>
        </div>
        <div class="ui-block-b">Pumpe</div>
      </div>
      <div class="ui-grid-solo">
        <div class="ui-block-a">
          <input type="button" id="reltimer" value="Reload Timer Table" data-theme="a" />
        </div>
      </div>
    </form>
  </div>

<div data-role="footer">
  <div>
    <h4><span id="gettime"></span> --  <span id="BalkonDGTemp"></span> °C</h4></div>
</div>

</div>
