<!doctype html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

  <style>
    h3,
    h4 {
      text-align: center;
    }
    
    span {
      font-weight: bold;
    }
    
    div.ui-grid-a .ui-block-a {
      margin: auto;
      border: 0px solid green;
    }
    
    div.ui-grid-a .ui-block-b {
      margin: auto;
      border: 0px solid red;
      vertical-align: middle;
    }
  </style>




  <script type=text/javascript>
   
  </script>


</head>




<div data-role="page" data-theme="b">
  <div data-role="header">
    <div>
      <h3>Heizung DG Timer</h3></div>
  </div>

  <div data-role="content">
    <form>
      <div class="ui-grid-a">
        <div align="right" class="ui-block-a">
          <select name="leah_sw" id="leah_sw" data-role="slider" data-theme="a">
            <option value="off">Leah</option>
            <option value="on">Leah</option>
          </select>
        </div>
        <div class="ui-block-b"><span id="LeahTemp"></span> °C</div>
        <div align="right" class="ui-block-a">
          <select name="felix_sw" id="felix_sw" data-role="slider" data-theme="a">
            <option value="off">Felix</option>
            <option value="on">Felix</option>
          </select>
        </div>
        <div class="ui-block-b"><span id="FelixTemp"></span> °C</div>
        <div align="right" class="ui-block-a">
          <select name="bad_sw" id="bad_sw" data-role="slider" data-theme="a">
            <option value="off">Bad</option>
            <option value="on">Bad</option>
          </select>
        </div>
        <div class="ui-block-b"><span id="BadDGTemp"></span> °C</div>
        <div align="right" class="ui-block-a">
          <select disabled name="pumpe_sw" id="pumpe_sw" data-role="slider" data-theme="a">
            <option value="off"></option>
            <option value="on"></option>
          </select>
        </div>
        <div class="ui-block-b">Pumpe</div>
      </div>
    </form>
    <form action="/">
      <div class="ui-grid-solo">
        <div class="ui-block-a">
          <input type="submit" value="Übersicht" data-theme="a" />
        </div>
      </div>
    </form>
  </div>
  <div data-role="footer">
    <div>
      <h4><span id="gettime"></span> --  <span id="BalkonDGTemp"></span> °C</h4></div>
  </div>
</div>
