# System requirements:
# sudo apt remove rpi.gpio-common python3-rpi.gpio
# sudo apt install  python3-lgpio python3-rpi-lgpio
smbus
smbus2
pyserial
pyMeterBus
drv8830
i2cdevice
simplejson
paho-mqtt
flask
flask_restful
flask-marshmallow
marshmallow
gunicorn
python-prctl
Flask-Markdown
schedule
